h1{
    color:white;
    text-align: center;
    font-style: italic;

}

P{
    color:white;
    font-size: large;
    font-style:inherit;
   
 
}



body{
   
    background-color: black;
    colorg:white;
    text-align: center;
    
    

}
h3{
    color:white;
    font-size: x-large;
    text-align: center;
}
a{
    color:blue;
    font-size: large;
    text-align: center;
}