
* {
padding:0;
margin:0;
box-sizing:boder-box;

}

div {
    min-height:2100px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size:200px;
    color:orange;
  

}

.h1 {
    background:url("./DOWN2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
.h2 {
    background:url("./cap.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
.h3 {
    background:url("./korean\ 2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
.h4{
    background:url("./FOREARM.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
.h5{
    background:url("./GAY.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}
.h6{
    background:url("./SC.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}
.h7{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}
.section{
  position:relative;
  width:100%;
  height:10%;
  display:flex;
align-items:center;
  justify-content: center;
  overflow:hidden;

}
.section a{
 text-align:center;
 font-size:6rem;
 z-index:1;
 padding:20px;
 margin:15px;
 opacity:1;
}
.overlay{
    font-size:6em;
    text-align:center;
    z-index:1;
    mix-blend-mode:overlay;
    padding:20px;
    margin:15px;
   color:blue;

}
.video-container{
position:absolute;
top:0;
left:0;
width:100%;
}

video{
    min-height:2100px;
}