
* {
padding:0;
margin:0;
border:border-box
background-color:black;
}

div {
    min-height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size:60px;
    color:orange;
  

}

.h1 {
    background:url("./43381153_293386371268777_1594609335667785728_n.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
.h2 {
    background:url("./45404973_186118915645551_7565115542172860416_n.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
.h3 {
    background:url("./46506387_295875717691123_5914034572042960896_n.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
.h4{
    background:url("./rbyw6fwgys061.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
h5{
    font-size:60px;
    background-position:bottom 60px ;
    background-color:black;
}